// Workflow Dashboard Tile Styles
.admin-tile .workflow-icon:before {
    font-size: 72px; 
    position: absolute;
    left: 50px;
    top: 25px;
}

.admin-tile .workflows-label {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

